{
  presets: [
    ['@babel/preset-env', {
      modules: 'commonjs',
      targets: {
        node: 'current'
      },
      useBuiltIns: 'usage',
      corejs: 3
    }]
  ],
  plugins: [
    ['dynamic-import-node', { "noInterop": true }],
    '@babel/plugin-transform-arrow-functions',
    [
      "module-resolver",
      {
        cwd: "./",
        root: [
          "./src"
        ],
        alias: {
          "#utils": "./src/utils",
          "#lib": "./src/lib",
          "#middleware": "./src/middleware",
          "#services": "./src/services",
          "#config": "./src/config"
        }
      }
    ],
    ['@babel/plugin-proposal-class-properties',
      {
        loose: true
      }
    ],
    '@babel/plugin-proposal-object-rest-spread',
    '@babel/plugin-transform-modules-commonjs'
    // '@babel/plugin-transform-async-to-generator',
  ]
}